doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    h1
      a(href="/") Home
    h1
      a(href="/products") Products
    h1
      a(href="/brands") Brands
    h1
      a(href="/categories") Categories
    block content
