doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(defer, src="javascripts/hamburger.js")

  body.font-comfortaa
    nav.relative.p-6.border-b-4.border-black
      .flex.items-center.justify-between
        //- logo
        a.flex(href="/")
          img.w-12(src="/images/noun-tetris.svg")
          img.w-48(src="/images/kustom-keys.svg")
        //- menu items
        .hidden.space-x-6(class="md:flex")
          a.px-2.py-1(href="/brands", class="hover:text-neutral-600") Brands
          a.px-2.py-1(href="/categories", class="hover:text-neutral-600") Categories
          a.px-2.py-1(href="/products", class="hover:text-neutral-600") Products
          a.px-2.py-1(href="#", class="hover:text-neutral-600") Contact
        //- button
        .hidden.space-x-2(class="md:flex")
          a.px-2.py-1(href="#", class="hover:text-neutral-600") Login
          a.px-2.py-1(href="#", class="hover:text-neutral-600") Sign Up
        //- hamburger icon
        button#menu-btn.block.hamburger(class="md:hidden focus:outline-none")
          span.hamburger-top
          span.hamburger-middle
          span.hamburger-bottom
    //- mobile menu
    div(class="md:hidden")
      #menu.menu.absolute.flex-col.items-center.self-end.hidden.py-6.space-y-6.font-bold.left-0.right-0.bg-neutral-100(
        class="sm:w-auto sm:self-center"
      )
        a(href="/brands", class="hover:text-neutral-600") Brands
        a(href="/products", class="hover:text-neutral-600") Products
        a(href="/categories", class="hover:text-neutral-600") Categories
        a(href="/", class="hover:text-neutral-600") Contact

    block content
